Tree {
    height: 1fr;
    width: 1fr;
    overflow-y: auto;
}

Tree > Widget {
    width: 1fr;
}

TreeRow {
    width: 1fr;
    height: auto;
}

TreeRow:hover {
    text-style: bold;
}

TreeRow.-hidden, ActionRow.-hidden {
    display: none;
}
